@-ms-viewport
{
	width: 355px;
}

@-webkit-viewport
{
	width: 355px;
}

@-o-viewport
{
	width: 355px;
}

@-moz-viewport
{
	width: 355px;
}

@viewport
{
	width: 355px;
}

.html
{
	background: #7F7F7F url("../images/backgrd.jpg") repeat-x center center scroll;
}

#page
{
	z-index: 1;
	width: 355px;
	min-height: 608px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #D5D5D5;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u492
{
	z-index: 2;
	width: 368px;
	margin-right: -10000px;
	margin-top: -5px;
}

#tab-panelu907
{
	z-index: 4;
	width: 335px;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 10px;
}

#u929
{
	z-index: 5;
	width: 335px;
	border-style: none;
	border-color: transparent;
	background-color: #EAD0E6;
	position: relative;
}

#u930
{
	z-index: 6;
	width: 111px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #EAD0E6;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u930:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 111px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u931
{
	z-index: 8;
	height: 20px;
	width: 111px;
	vertical-align: top;
	background: url("../images/u931.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u930.TabbedPanelsTabSelected #u931
{
	background: url("../images/u931-a.png") no-repeat 0px 0px;
}

#u934
{
	z-index: 10;
	width: 111px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #EAD0E6;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	left: 111px;
	border-width: 1px 0px 1px 1px;
}

#u934:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 111px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u930.TabbedPanelsTabSelected,#u934.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #923C96;
	width: 111px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u936
{
	z-index: 12;
	height: 20px;
	width: 111px;
	vertical-align: top;
	background: url("../images/u936.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u934.TabbedPanelsTabSelected #u936
{
	background: url("../images/u936-a.png") no-repeat 0px 0px;
}

#u938
{
	z-index: 14;
	width: 111px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #EAD0E6;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	left: 222px;
}

#u938:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 111px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u938.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #923C96;
	width: 111px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u939
{
	z-index: 16;
	height: 20px;
	width: 111px;
	vertical-align: top;
	background: url("../images/u939.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u938.TabbedPanelsTabSelected #u939
{
	background: url("../images/u939-a.png") no-repeat 0px 0px;
}

#u942
{
	z-index: 18;
	width: 335px;
	position: relative;
}

#u947
{
	z-index: 19;
	width: 308px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 13px 5px 7.4348873873836965px 20px;
	border-width: 0px 1px 1px;
}

#u1427
{
	z-index: 26;
	width: 83px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1426-6
{
	z-index: 20;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#slideshowu1701
{
	z-index: 34;
	width: 0.01px;
	height: 257px;
	margin-top: 6px;
	position: relative;
}

#u1739
{
	position: absolute;
	width: 307px;
	height: 217px;
	background-color: transparent;
}

#u1739popup
{
	z-index: 35;
}

#u1742
{
	z-index: 36;
	width: 307px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1898
{
	z-index: 38;
	width: 307px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1742_img,#u1898_img
{
	margin-left: -20px;
	margin-right: -19px;
}

#u1907
{
	z-index: 40;
	width: 307px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1916
{
	z-index: 42;
	width: 307px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1916_img
{
	margin-left: -5px;
	margin-right: -4px;
	margin-bottom: 1px;
}

#u1925
{
	z-index: 44;
	width: 307px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1934
{
	z-index: 46;
	width: 307px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1943
{
	z-index: 48;
	width: 307px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1943_img
{
	margin: -40px 5px;
}

#u1795
{
	z-index: 50;
	width: 307px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1907_img,#u1925_img,#u1934_img,#u1795_img
{
	margin-top: -6px;
	margin-bottom: -6px;
}

#u1804
{
	z-index: 52;
	width: 307px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1742_clip,#u1898_clip,#u1907_clip,#u1916_clip,#u1925_clip,#u1934_clip,#u1943_clip,#u1795_clip,#u1804_clip
{
	overflow: hidden;
	width: 307px;
	height: 217px;
}

#u1804_img
{
	margin-top: -7px;
	margin-bottom: -7px;
}

#u1746
{
	position: absolute;
	width: 182px;
	top: 217px;
	left: 5px;
}

#u1746popup
{
	z-index: 54;
}

#u1748-4
{
	z-index: 55;
	width: 162px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1904-4
{
	z-index: 59;
	width: 162px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1913-4
{
	z-index: 63;
	width: 162px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1922-4
{
	z-index: 67;
	width: 162px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1931-4
{
	z-index: 71;
	width: 162px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1940-4
{
	z-index: 75;
	width: 162px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1949-4
{
	z-index: 79;
	width: 162px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1801-4
{
	z-index: 83;
	width: 162px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1810-4
{
	z-index: 87;
	width: 162px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1715-4
{
	position: absolute;
	width: 54px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	font-size: 12px;
	line-height: 17px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 217px;
	left: 207px;
}

#u1715-4popup
{
	z-index: 91;
}

#u1702-4
{
	position: absolute;
	width: 13px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 217px;
	left: 185px;
}

#u1702-4popup
{
	z-index: 95;
}

#u1715,#u1702
{
	color: #999999;
}

#u1707-4
{
	position: absolute;
	width: 12px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 217px;
	left: 270px;
}

#u1707-4popup
{
	z-index: 99;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#buttonu2035
{
	z-index: 103;
	width: 153px;
	border-color: #787878;
	background-color: #CACACA;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#buttonu2035:hover
{
	background-color: #545454;
	margin: 0px 0px -1px;
}

#u2038
{
	z-index: 108;
	width: 17px;
	height: 12px;
	border-color: #000000;
	background-color: #12AD27;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 14px;
}

#buttonu2035:hover #u2038
{
	background-color: #FFFFFF;
	margin: 11px -10000px 0px 0px;
}

#buttonu2035.ButtonSelected #u2038
{
	background-color: #12AD27;
	margin: 11px -10000px 0px 0px;
}

#u2037-4
{
	z-index: 104;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: center;
	font-size: 11px;
	letter-spacing: 1px;
	line-height: 13px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 31px;
}

#buttonu2035:hover #u2037-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 11px -10000px 0px 0px;
}

#buttonu2035.ButtonSelected #u2037-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 11px -10000px 0px 0px;
}

#buttonu2035:hover #u2037-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu2035.ButtonSelected #u2037-4 p
{
	color: #3C3C3C;
	visibility: inherit;
}

#u1493-6
{
	z-index: 28;
	display: block;
	vertical-align: top;
	margin-top: 3px;
	position: relative;
}

#u951
{
	z-index: 109;
	width: 307px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 12px 16px 6px 10px;
	border-width: 0px 1px 1px;
}

#u2050
{
	z-index: 118;
	width: 83px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2049-6
{
	z-index: 112;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u1500
{
	z-index: 110;
	width: 307px;
	position: relative;
	margin-right: -10000px;
}

#u1500_img
{
	padding: 3px 12px 20px 11px;
}

#u2053-6
{
	z-index: 120;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 301px;
}

#u943
{
	z-index: 126;
	width: 304px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 13px 19px 5.492443693691882px 10px;
	border-width: 0px 1px 1px;
}

#pu1427,#pu2050,#pu1500,#pu2056
{
	width: 0.01px;
	position: relative;
}

#u2056
{
	z-index: 182;
	width: 83px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2055-6
{
	z-index: 176;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#pu1403
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 6px;
	position: relative;
}

#u1403
{
	z-index: 134;
	width: 296px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #7D7D7D;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u1409-6
{
	z-index: 135;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 11px;
}

#u1410-10
{
	z-index: 141;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 219px;
}

#u1412-10
{
	z-index: 151;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 32px;
}

#u1414
{
	z-index: 161;
	width: 254px;
	height: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #93278F;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 16px;
}

#ppu1404
{
	width: 0.01px;
	margin-left: 1px;
	top: -9px;
	margin-bottom: -9px;
	position: relative;
}

#pu1404
{
	z-index: 127;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1404
{
	z-index: 0;
	width: 296px;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u1404.f3s_top
{
	width: 296px;
	background-image: url("../images/u1404-sprite.png");
	overflow: hidden;
	height: 11px;
	background-position: left top;
}

._u1404.f3s_mid
{
	background-image: url("../images/u1404-sprite.png");
	overflow: visible;
	background-position: -296px top;
	width: 296px;
	height: 83px;
}

._u1404.f3s_bot
{
	width: 296px;
	background-image: url("../images/u1404-sprite.png");
	overflow: visible;
	height: 10px;
	background-position: -592px top;
}

#pu1418-6
{
	width: 0.01px;
	position: relative;
	left: 18px;
	padding-top: 12px;
	z-index: 2;
	padding-bottom: 44px;
}

#u1418-6
{
	z-index: 128;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1415
{
	z-index: 162;
	width: 254px;
	height: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #93278F;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 17px;
}

#u1419-6
{
	z-index: 163;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 219px;
}

#u1420-7
{
	z-index: 169;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 20px;
}

#u2059-6
{
	z-index: 184;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 6px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.TabbedPanelsTab /* slideshowFreeStyle */
{
	cursor: pointer;
}

#buttonu996
{
	z-index: 190;
	width: 27px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 18px;
	padding: 9px 12px 7px 15px;
}

#buttonu996:hover
{
	background-color: #545454;
	margin: 12px -10000px 0px 0px;
}

#u999
{
	z-index: 191;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1000
{
	z-index: 192;
	display: block;
	vertical-align: top;
	margin-top: 14px;
	position: relative;
}

#u998
{
	z-index: 193;
	display: block;
	vertical-align: top;
	margin-top: 14px;
	position: relative;
}

#u1001-4
{
	z-index: 194;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 88px;
}

#profilepage
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 89px;
	left: 29px;
}

