@-ms-viewport
{
	width: 355px;
}

@-webkit-viewport
{
	width: 355px;
}

@-o-viewport
{
	width: 355px;
}

@-moz-viewport
{
	width: 355px;
}

@viewport
{
	width: 355px;
}

.html
{
	background: #7F7F7F url("../images/backgrd.jpg") repeat-x center center scroll;
}

#page
{
	z-index: 1;
	width: 355px;
	min-height: 608px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #93278F;
}

#u492
{
	z-index: 2;
	width: 368px;
	margin-right: -10000px;
	margin-top: -5px;
}

#tab-panelu1226
{
	z-index: 4;
	width: 340px;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 9px;
}

#u1280
{
	z-index: 5;
	width: 340px;
	border-style: none;
	border-color: transparent;
	background-color: #EAD0E6;
	position: relative;
}

#u1289
{
	z-index: 6;
	width: 112px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #EAD0E6;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u1289:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 112px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u1289.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #923C96;
	width: 112px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u1291
{
	z-index: 8;
	height: 20px;
	width: 112px;
	vertical-align: top;
	background: url("../images/u1291.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u1289.TabbedPanelsTabSelected #u1291
{
	background: url("../images/u1291-a.png") no-repeat 0px 0px;
}

#u1281
{
	z-index: 10;
	width: 113px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #EAD0E6;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	left: 112px;
	border-width: 1px 0px 1px 1px;
}

#u1281:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 113px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u1281.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #923C96;
	width: 113px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u1284
{
	z-index: 12;
	height: 20px;
	width: 113px;
	vertical-align: top;
	background: url("../images/u1284.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u1281.TabbedPanelsTabSelected #u1284
{
	background: url("../images/u1284-a.png") no-repeat 0px 0px;
}

#u1285
{
	z-index: 14;
	width: 112px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #EAD0E6;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	left: 225px;
}

#u1285:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 112px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1285.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #923C96;
	width: 112px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u1286
{
	z-index: 16;
	height: 20px;
	width: 112px;
	vertical-align: top;
	background: url("../images/u1286.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u1285.TabbedPanelsTabSelected #u1286
{
	background: url("../images/u1286-a.png") no-repeat 0px 0px;
}

#u1246
{
	z-index: 18;
	width: 340px;
	position: relative;
}

#u1254
{
	z-index: 19;
	width: 308px;
	border-style: solid;
	border-color: #999999;
	background-color: #F8F1F7;
	padding-left: 18px;
	padding-top: 21px;
	padding-right: 12px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u1265
{
	z-index: 26;
	width: 84px;
	position: relative;
	margin-right: -10000px;
}

#u1258-6
{
	z-index: 20;
	width: 200px;
	min-height: 84px;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#u1263
{
	z-index: 28;
	width: 83px;
	position: relative;
	margin-right: -10000px;
}

#u1257-6
{
	z-index: 34;
	width: 200px;
	min-height: 83px;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#pu1255
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 17px;
	position: relative;
}

#u1255
{
	z-index: 30;
	width: 83px;
	position: relative;
	margin-right: -10000px;
}

#u1259-6
{
	z-index: 40;
	width: 200px;
	min-height: 83px;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#pu1263,#pu1260
{
	width: 0.01px;
	margin-top: 18px;
	position: relative;
}

#u1260
{
	z-index: 32;
	width: 83px;
	position: relative;
	margin-right: -10000px;
}

#u1262-6
{
	z-index: 46;
	width: 200px;
	min-height: 83px;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#u1247
{
	z-index: 52;
	width: 338px;
	border-style: solid;
	border-color: #999999;
	background-color: #F8F1F7;
	padding-bottom: 144px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#pu1251
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 18px;
}

#u1251
{
	z-index: 59;
	width: 83px;
	position: relative;
}

#u1248
{
	z-index: 61;
	width: 83px;
	margin-top: 53px;
	position: relative;
}

#pu1253-6
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 126px;
}

#u1253-6
{
	z-index: 53;
	width: 201px;
	min-height: 110px;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1250-6
{
	z-index: 63;
	width: 201px;
	min-height: 111px;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 22px;
	position: relative;
}

#u1267
{
	z-index: 69;
	width: 320px;
	border-style: solid;
	border-color: #999999;
	background-color: #F8F1F7;
	padding-left: 18px;
	padding-top: 22px;
	padding-bottom: 6px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#pu1265,#pu1274
{
	width: 0.01px;
	position: relative;
}

#u1274
{
	z-index: 76;
	width: 83px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1276-6
{
	z-index: 70;
	width: 182px;
	min-height: 83px;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 138px;
}

#u1270
{
	z-index: 78;
	width: 83px;
	position: relative;
	margin-right: -10000px;
}

#u1277-6
{
	z-index: 84;
	width: 182px;
	min-height: 83px;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 138px;
}

#pu1268
{
	width: 0.01px;
	margin-top: 15px;
	position: relative;
}

#u1268
{
	z-index: 80;
	width: 83px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1273-6
{
	z-index: 90;
	width: 182px;
	min-height: 83px;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 138px;
}

#pu1270,#pu1278
{
	width: 0.01px;
	margin-top: 16px;
	position: relative;
}

#u1278
{
	z-index: 82;
	width: 83px;
	position: relative;
	margin-right: -10000px;
}

#u1272-6
{
	z-index: 96;
	width: 182px;
	min-height: 83px;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 138px;
}

#u1258-2,#u1257-2,#u1259-2,#u1262-2,#u1253-2,#u1250-2,#u1276-2,#u1277-2,#u1273-2,#u1272-2
{
	line-height: 14px;
	color: #6B6B6B;
	font-weight: bold;
}

#u1258-4,#u1257-4,#u1259-4,#u1262-4,#u1253-4,#u1250-4,#u1276-4,#u1277-4,#u1273-4,#u1272-4
{
	line-height: 17px;
	color: #999999;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#buttonu1293
{
	z-index: 102;
	width: 27px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
	padding: 9px 12px 7px 15px;
}

#buttonu1293:hover
{
	background-color: #545454;
	margin: 12px -10000px 0px 0px;
}

#u1296
{
	z-index: 103;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1297
{
	z-index: 104;
	display: block;
	vertical-align: top;
	margin-top: 14px;
	position: relative;
}

#u1294
{
	z-index: 105;
	display: block;
	vertical-align: top;
	margin-top: 14px;
	position: relative;
}

#u1298-4
{
	z-index: 106;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 89px;
}

