@-ms-viewport
{
	width: 480px;
}

@-webkit-viewport
{
	width: 480px;
}

@-o-viewport
{
	width: 480px;
}

@-moz-viewport
{
	width: 480px;
}

@viewport
{
	width: 480px;
}

.html
{
	background: #7F7F7F url("../images/backgrd.jpg") repeat-x center center scroll;
}

#page
{
	z-index: 1;
	width: 480px;
	min-height: 800px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #D5D5D5;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u492
{
	z-index: 2;
	width: 480px;
	margin-right: -10000px;
}

#tab-panelu907
{
	z-index: 4;
	width: 447px;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 17px;
}

#u929
{
	z-index: 5;
	width: 447px;
	border-style: none;
	border-color: transparent;
	background-color: #EAD0E6;
	position: relative;
}

#u930
{
	z-index: 6;
	width: 148px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #EAD0E6;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u930:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 148px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u930.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #923C96;
	width: 148px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u931
{
	z-index: 8;
	height: 20px;
	width: 148px;
	vertical-align: top;
	background: url("../images/u931.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u930.TabbedPanelsTabSelected #u931
{
	background: url("../images/u931-a.png") no-repeat 0px 0px;
}

#u934
{
	z-index: 10;
	width: 149px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #EAD0E6;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	left: 148px;
	border-width: 1px 0px 1px 1px;
}

#u934:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 149px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u934.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #923C96;
	width: 149px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u936
{
	z-index: 12;
	height: 20px;
	width: 149px;
	vertical-align: top;
	background: url("../images/u936.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u934.TabbedPanelsTabSelected #u936
{
	background: url("../images/u936-a.png") no-repeat 0px 0px;
}

#u938
{
	z-index: 14;
	width: 148px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #EAD0E6;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	left: 297px;
}

#u938:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 148px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u938.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #923C96;
	width: 148px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u939
{
	z-index: 16;
	height: 20px;
	width: 148px;
	vertical-align: top;
	background: url("../images/u939.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u938.TabbedPanelsTabSelected #u939
{
	background: url("../images/u939-a.png") no-repeat 0px 0px;
}

#u942
{
	z-index: 18;
	width: 447px;
	position: relative;
}

#u947
{
	z-index: 19;
	width: 416px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 22px 15px 13px 14px;
	border-width: 0px 1px 1px;
}

#u1427
{
	z-index: 26;
	width: 115px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1426-6
{
	z-index: 20;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 138px;
}

#u1493-6
{
	z-index: 28;
	display: block;
	vertical-align: top;
	margin-top: 426px;
	position: relative;
}

#u951
{
	z-index: 34;
	width: 416px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 22px 15px 13px 14px;
	border-width: 0px 1px 1px;
}

#u1431
{
	z-index: 41;
	width: 115px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1430-6
{
	z-index: 35;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 138px;
}

#u1500
{
	z-index: 49;
	width: 400px;
	margin-left: 8px;
	margin-top: 2px;
	position: relative;
}

#u1500_clip
{
	overflow: hidden;
	width: 400px;
	height: 410px;
}

#u1500_img
{
	margin: 12px -1px -12px 1px;
}

#u1421-6
{
	z-index: 43;
	display: block;
	vertical-align: top;
	margin-top: 14px;
	position: relative;
}

#u943
{
	z-index: 51;
	width: 416px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 22px 15px 13px 14px;
	border-width: 0px 1px 1px;
}

#pu1427,#pu1431,#pu1002
{
	width: 0.01px;
	margin-left: 4px;
	position: relative;
}

#u1002
{
	z-index: 58;
	width: 115px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u946-6
{
	z-index: 52;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 138px;
}

#ppu1403
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 16px;
	position: relative;
}

#pu1403
{
	z-index: 60;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

._u1403.f3s_mid
{
	background-image: url("../images/u1403-sprite.png");
	overflow: visible;
	background-position: -409px top;
	width: 409px;
	height: 191px;
}

#pu1409-6
{
	width: 0.01px;
	position: relative;
	left: 11px;
	padding-top: 10px;
	z-index: 2;
	padding-bottom: 145px;
}

#u1409-6
{
	z-index: 62;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1410-10
{
	z-index: 68;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 325px;
}

#u1412-11
{
	z-index: 78;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 32px;
}

#u1414
{
	z-index: 89;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 20px;
}

#ppu1404
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 15px;
	position: relative;
}

#pu1404
{
	z-index: 61;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1403,#u1404
{
	z-index: 0;
	width: 409px;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u1403.f3s_top,._u1404.f3s_top
{
	width: 409px;
	background-image: url("../images/u1403-sprite.png");
	overflow: hidden;
	height: 11px;
	background-position: left top;
}

._u1404.f3s_mid
{
	background-image: url("../images/u1403-sprite.png");
	overflow: visible;
	background-position: -409px top;
	width: 409px;
	height: 136px;
}

._u1403.f3s_bot,._u1404.f3s_bot
{
	width: 409px;
	background-image: url("../images/u1403-sprite.png");
	overflow: visible;
	height: 10px;
	background-position: -818px top;
}

#pu1415
{
	width: 0.01px;
	position: relative;
	left: 20px;
	padding-top: 38px;
	z-index: 2;
	padding-bottom: 118px;
}

#u1415
{
	z-index: 90;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1418-6
{
	z-index: 91;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 18px;
}

#u1419-6
{
	z-index: 97;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 313px;
}

#u1420-6
{
	z-index: 103;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 20px;
}

#u1492-6
{
	z-index: 109;
	display: block;
	vertical-align: top;
	margin-top: 7px;
	position: relative;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#buttonu996
{
	z-index: 115;
	width: 27px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 18px;
	padding: 9px 12px 7px 15px;
}

#buttonu996:hover
{
	background-color: #545454;
	margin: 12px -10000px 0px 0px;
}

#u999
{
	z-index: 116;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1000
{
	z-index: 117;
	display: block;
	vertical-align: top;
	margin-top: 14px;
	position: relative;
}

#u998
{
	z-index: 118;
	display: block;
	vertical-align: top;
	margin-top: 14px;
	position: relative;
}

#u1001-4
{
	z-index: 119;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 112px;
}

#page .verticalspacer
{
	clear: both;
}

