@-ms-viewport
{
	width: 480px;
}

@-webkit-viewport
{
	width: 480px;
}

@-o-viewport
{
	width: 480px;
}

@-moz-viewport
{
	width: 480px;
}

@viewport
{
	width: 480px;
}

.html
{
	background: #7F7F7F url("../images/backgrd.jpg") repeat-x center center scroll;
}

#page
{
	z-index: 1;
	width: 480px;
	min-height: 800px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u159
{
	z-index: 2;
	width: 481px;
	margin-right: -10000px;
	left: -1px;
}

#u460
{
	z-index: 4;
	width: 258px;
	margin-right: -10000px;
	left: 222px;
}

#u192
{
	z-index: 6;
	width: 480px;
	position: relative;
	margin-right: -10000px;
}

#u197
{
	z-index: 8;
	width: 480px;
	height: 800px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/loginbtn.png") no-repeat left top;
	background-size: contain !important;
}

#u197:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/loginbtn2.png") no-repeat left top;
	background-size: contain !important;
}

#widgetu221
{
	z-index: 9;
	width: 0.01px;
	height: 300px;
	position: relative;
	margin-right: -10000px;
	margin-top: 300px;
	left: 18px;
}

#widgetu249
{
	z-index: 10;
	width: 297px;
	height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 6px;
}

#widgetu249.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: -1px -10000px 0px 0px;
}

#u252-4
{
	z-index: 11;
	width: 285px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu249.non-empty-st #u252-4
{
	background-color: #FFFFFF;
}

#widgetu249:hover #u252-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 285px;
	margin: -1px -10000px -1px 0px;
}

#widgetu249.focus-st #u252-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 285px;
	margin: -1px -10000px -1px 0px;
}

#widgetu249.fld-err-st #u252-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 285px;
	margin: -1px -10000px -1px 0px;
}

.textbox
{
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
}

#widgetu249.non-empty-st #u252-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu249:hover #u252-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu249.focus-st #u252-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu249_input,#widgetu249_prompt
{
	width: 285px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu244
{
	z-index: 15;
	width: 296px;
	height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
	left: 6px;
}

#widgetu244.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 109px -10000px 0px 0px;
}

#u248-4
{
	z-index: 16;
	width: 284px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu244.non-empty-st #u248-4
{
	background-color: #FFFFFF;
}

#widgetu244:hover #u248-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 284px;
	margin: -1px -10000px -1px 0px;
}

#widgetu244.focus-st #u248-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 284px;
	margin: -1px -10000px -1px 0px;
}

#widgetu244.fld-err-st #u248-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 284px;
	margin: -1px -10000px -1px 0px;
}

#widgetu244.non-empty-st #u248-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu244:hover #u248-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu244.focus-st #u248-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu249.fld-err-st #u252-4 *,#widgetu244.fld-err-st #u248-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu244_input,#widgetu244_prompt
{
	width: 284px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu249:hover #widgetu249_input,#widgetu249.focus-st #widgetu249_input,#widgetu249.fld-err-st #widgetu249_input,#widgetu249:hover #widgetu249_prompt,#widgetu249.focus-st #widgetu249_prompt,#widgetu249.fld-err-st #widgetu249_prompt,#widgetu244:hover #widgetu244_input,#widgetu244.focus-st #widgetu244_input,#widgetu244.fld-err-st #widgetu244_input,#widgetu244:hover #widgetu244_prompt,#widgetu244.focus-st #widgetu244_prompt,#widgetu244.fld-err-st #widgetu244_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu249.non-empty-st #widgetu249_prompt,#widgetu244.non-empty-st #widgetu244_prompt
{
	visibility: hidden;
}

#u223-4
{
	z-index: 20;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 147px;
}

#widgetu221.frm-sub-st #u223-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u222-4
{
	z-index: 24;
	width: 200px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 147px;
}

#widgetu221.frm-subm-err-st #u222-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 28px;
}

#widgetu221.frm-subm-err-st #u222-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u254-4
{
	z-index: 28;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	font-size: 12px;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 147px;
}

#widgetu221.frm-sub-st #u223-4,#widgetu221.frm-subm-ok-st #u254-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu221.frm-subm-ok-st #u254-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u224-17
{
	z-index: 32;
	min-height: 44px;
	width: 131px;
	background: url("../images/u224-17.png") no-repeat 0px 0px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
}

#u224-17:hover
{
	background: url("../images/u224-17-r.png") no-repeat 0px 0px;
}

#u224-17:active
{
	background: url("../images/u224-17-m.png") no-repeat 0px 0px;
}

#widgetu221.frm-sub-st #u224-17
{
	background: url("../images/u224-17-fs.png") no-repeat 0px 0px;
}

#u687-4
{
	z-index: 49;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 530px;
	left: 18px;
}

#page .verticalspacer
{
	clear: both;
}

