@-ms-viewport
{
	width: 480px;
}

@-webkit-viewport
{
	width: 480px;
}

@-o-viewport
{
	width: 480px;
}

@-moz-viewport
{
	width: 480px;
}

@viewport
{
	width: 480px;
}

.html
{
	background: #7F7F7F url("../images/backgrd.jpg") repeat-x center center scroll;
}

#page
{
	z-index: 1;
	width: 480px;
	min-height: 800px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u492
{
	z-index: 2;
	width: 480px;
}

#page .verticalspacer
{
	clear: both;
}

