@-ms-viewport
{
	width: 355px;
}

@-webkit-viewport
{
	width: 355px;
}

@-o-viewport
{
	width: 355px;
}

@-moz-viewport
{
	width: 355px;
}

@viewport
{
	width: 355px;
}

.html
{
	background: #7F7F7F url("../images/backgrd.jpg") repeat-x center center scroll;
}

#page
{
	z-index: 1;
	width: 355px;
	min-height: 608px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u492
{
	z-index: 2;
	width: 368px;
	margin-right: -10000px;
	margin-top: -5px;
}

#buttonu1483
{
	z-index: 4;
	width: 27px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 18px;
	padding: 9px 12px 7px 15px;
}

#buttonu1483:hover
{
	background-color: #545454;
	margin: 12px -10000px 0px 0px;
}

#u1486
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1485
{
	z-index: 6;
	display: block;
	vertical-align: top;
	margin-top: 14px;
	position: relative;
}

#u1487
{
	z-index: 7;
	display: block;
	vertical-align: top;
	margin-top: 14px;
	position: relative;
}

#u1488-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 112px;
}

#u1535
{
	z-index: 38;
	width: 91px;
	position: relative;
	margin-right: -10000px;
	margin-top: 326px;
	left: 211px;
}

#u1525
{
	z-index: 39;
	width: 91px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u1526
{
	z-index: 40;
	width: 46px;
	border-style: none;
	border-color: transparent;
	background-color: #39B54A;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	left: 46px;
}

#u1528-4
{
	z-index: 41;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 9px;
}

#u1537
{
	z-index: 45;
	width: 91px;
	position: relative;
	margin-right: -10000px;
	margin-top: 271px;
	left: 211px;
}

#u1523
{
	z-index: 46;
	width: 91px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u1524
{
	z-index: 47;
	width: 46px;
	border-style: none;
	border-color: transparent;
	background-color: #39B54A;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 46px;
}

#u1527-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 9px;
}

#u1536
{
	z-index: 52;
	width: 91px;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 211px;
}

#u1519
{
	z-index: 53;
	width: 91px;
	border-style: none;
	border-color: transparent;
	background-color: #ED1C24;
	position: relative;
	margin-right: -10000px;
}

#u1529-4
{
	z-index: 55;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#u1520
{
	z-index: 54;
	width: 46px;
	height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 46px;
}

#u1532-4
{
	z-index: 63;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 239px;
	left: 45px;
}

#pu1491
{
	z-index: 12;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 10px;
}

#u1491
{
	z-index: 0;
	width: 337px;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u1491.f3s_top
{
	width: 337px;
	background-image: url("../images/u1491-sprite.png");
	overflow: hidden;
	height: 16px;
	background-position: left top;
}

._u1491.f3s_mid
{
	background-image: url("../images/u1491-sprite.png");
	overflow: visible;
	background-position: -337px top;
	width: 337px;
	height: 428px;
}

._u1491.f3s_bot
{
	width: 337px;
	background-image: url("../images/u1491-sprite.png");
	overflow: visible;
	height: 15px;
	background-position: -674px top;
}

#pu1530-4
{
	width: 0.01px;
	position: relative;
	left: 13px;
	padding-top: 22px;
	z-index: 2;
	padding-bottom: 57px;
}

#u1530-4
{
	z-index: 59;
	display: block;
	vertical-align: top;
	margin-left: 22px;
	position: relative;
}

#u1506
{
	z-index: 13;
	width: 312px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	padding-bottom: 4px;
	margin-top: 5px;
	position: relative;
}

#u1514-4
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 21px;
}

#u1507
{
	z-index: 14;
	width: 312px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	padding-bottom: 4px;
	margin-top: 7px;
	position: relative;
}

#u1515-4
{
	z-index: 22;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 21px;
}

#u1510
{
	z-index: 16;
	width: 312px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	padding-bottom: 11px;
	margin-top: 49px;
	position: relative;
}

#u1516-4
{
	z-index: 26;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 27px;
}

#u1511
{
	z-index: 17;
	width: 312px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	padding-bottom: 7px;
	margin-top: 9px;
	position: relative;
}

#u1517-4
{
	z-index: 30;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 27px;
}

#u1534-4
{
	z-index: 67;
	display: block;
	vertical-align: top;
	margin-left: 22px;
	margin-top: 39px;
	position: relative;
}

#u1509
{
	z-index: 15;
	width: 312px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	padding-bottom: 5px;
	margin-top: 8px;
	position: relative;
}

#u1518-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 27px;
}

