@-ms-viewport
{
	width: 480px;
}

@-webkit-viewport
{
	width: 480px;
}

@-o-viewport
{
	width: 480px;
}

@-moz-viewport
{
	width: 480px;
}

@viewport
{
	width: 480px;
}

.html
{
	background: #7F7F7F url("../images/backgrd.jpg") repeat-x center center scroll;
}

#page
{
	z-index: 1;
	width: 480px;
	min-height: 800px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u492
{
	z-index: 2;
	width: 480px;
	margin-right: -10000px;
}

#buttonu1483
{
	z-index: 4;
	width: 27px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 18px;
	padding: 9px 12px 7px 15px;
}

#buttonu1483:hover
{
	background-color: #545454;
	margin: 12px -10000px 0px 0px;
}

#u1486
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1485
{
	z-index: 6;
	display: block;
	vertical-align: top;
	margin-top: 14px;
	position: relative;
}

#u1487
{
	z-index: 7;
	display: block;
	vertical-align: top;
	margin-top: 14px;
	position: relative;
}

#u1488-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 112px;
}

#u1530-4
{
	z-index: 59;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 40px;
}

#u1532-4
{
	z-index: 63;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 364px;
	left: 40px;
}

#u1534-4
{
	z-index: 67;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
	left: 40px;
}

#pu1491
{
	z-index: 12;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 6px;
}

#u1491
{
	z-index: 0;
	width: 468px;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u1491.f3s_top
{
	width: 468px;
	background-image: url("../images/u1491-sprite.png");
	overflow: hidden;
	height: 16px;
	background-position: left top;
}

._u1491.f3s_mid
{
	background-image: url("../images/u1491-sprite.png");
	overflow: visible;
	background-position: -468px top;
	width: 468px;
	height: 621px;
}

._u1491.f3s_bot
{
	width: 468px;
	background-image: url("../images/u1491-sprite.png");
	overflow: visible;
	height: 15px;
	background-position: -936px top;
}

#pu1506
{
	width: 0.01px;
	position: relative;
	left: 12px;
	padding-top: 64px;
	z-index: 2;
	padding-bottom: 31px;
}

#u1506
{
	z-index: 13;
	width: 442px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	padding-bottom: 11px;
	position: relative;
}

#u1514-4
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 27px;
}

#u1536
{
	z-index: 52;
	width: 110px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 316px;
}

#u1519
{
	z-index: 53;
	width: 110px;
	border-style: none;
	border-color: transparent;
	background-color: #ED1C24;
	position: relative;
	margin-right: -10000px;
}

#u1529-4
{
	z-index: 55;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u1520
{
	z-index: 54;
	width: 55px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 55px;
}

#u1507
{
	z-index: 14;
	width: 442px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	padding-bottom: 16px;
	margin-top: 15px;
	position: relative;
}

#u1515-4
{
	z-index: 22;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 27px;
}

#u1510
{
	z-index: 16;
	width: 442px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	padding-bottom: 11px;
	margin-top: 120px;
	position: relative;
}

#u1516-4
{
	z-index: 26;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 27px;
}

#u1537
{
	z-index: 45;
	width: 110px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 316px;
}

#u1523
{
	z-index: 46;
	width: 110px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u1524
{
	z-index: 47;
	width: 55px;
	border-style: none;
	border-color: transparent;
	background-color: #39B54A;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 55px;
}

#u1527-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u1511
{
	z-index: 17;
	width: 442px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	padding-bottom: 11px;
	margin-top: 17px;
	position: relative;
}

#u1517-4
{
	z-index: 30;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 27px;
}

#u1535
{
	z-index: 38;
	width: 110px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 316px;
}

#u1525
{
	z-index: 39;
	width: 110px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u1526
{
	z-index: 40;
	width: 55px;
	border-style: none;
	border-color: transparent;
	background-color: #39B54A;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 55px;
}

#u1528-4
{
	z-index: 41;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u1509
{
	z-index: 15;
	width: 442px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	padding-bottom: 16px;
	margin-top: 95px;
	position: relative;
}

#u1518-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 27px;
}

#page .verticalspacer
{
	clear: both;
}

