@-ms-viewport
{
	width: 355px;
}

@-webkit-viewport
{
	width: 355px;
}

@-o-viewport
{
	width: 355px;
}

@-moz-viewport
{
	width: 355px;
}

@viewport
{
	width: 355px;
}

.html
{
	background: #7F7F7F url("../images/backgrd.jpg") repeat-x center center scroll;
}

#page
{
	z-index: 1;
	width: 355px;
	min-height: 608px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u1669-6
{
	z-index: 2;
	width: 355px;
	min-height: 622px;
	margin-right: -10000px;
}

#u1673
{
	z-index: 8;
	width: 355px;
}

#u1677
{
	z-index: 11;
	width: 127px;
	margin-right: -10000px;
	left: 214px;
}

#u1544-11
{
	z-index: 13;
	width: 278px;
	min-height: 292px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 38px;
}

#u1544-6
{
	font-size: 26px;
	text-align: center;
	line-height: 31px;
}

#u1546-9
{
	z-index: 24;
	width: 93px;
	min-height: 88px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 318px;
	left: 212px;
}

#u1546-3,#u1546-5,#u1546-7
{
	font-size: 10px;
	line-height: 12px;
}

#u1547
{
	z-index: 33;
	width: 84px;
	position: relative;
	margin-right: -10000px;
	margin-top: 429px;
	left: 135px;
}

#u1553
{
	z-index: 35;
	width: 84px;
	position: relative;
	margin-right: -10000px;
	margin-top: 429px;
	left: 250px;
}

#u1558
{
	z-index: 37;
	width: 84px;
	position: relative;
	margin-right: -10000px;
	margin-top: 429px;
	left: 21px;
}

#u1547_img,#u1553_img,#u1558_img
{
	padding-right: 1px;
}

#buttonu1577
{
	z-index: 39;
	width: 27px;
	border-color: #787878;
	background-color: #CACACA;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 18px;
	padding: 9px 12px 7px 15px;
}

#buttonu1577:hover
{
	background-color: #545454;
	margin: 12px -10000px 0px 0px;
}

#u1579
{
	z-index: 40;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1578
{
	z-index: 41;
	display: block;
	vertical-align: top;
	margin-top: 14px;
	position: relative;
}

#u1580
{
	z-index: 42;
	display: block;
	vertical-align: top;
	margin-top: 14px;
	position: relative;
}

#u2061
{
	z-index: 43;
	width: 120px;
	position: relative;
	margin-right: -10000px;
	margin-top: 478px;
	left: 117px;
}

#u1575-3
{
	z-index: 44;
	width: 120px;
	position: relative;
	margin-right: -10000px;
}

._u1575-3.f3s_top
{
	height: 42px;
	background-image: url("../images/u1575-3-full.png");
	background-position: left top;
	width: 120px;
}

#u1576-4
{
	z-index: 47;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 7px;
}

#page .verticalspacer
{
	clear: both;
}

